version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 20

  backend:
    image: avinash48/dd-backend
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DB_URL=mongodb://mongo:27017/dd_db
    depends_on:
      mongo:
        condition: service_healthy

  frontend:
    image: avinash48/dd-frontend
    build: ./frontend
    container_name: frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  mongo_data:
